<section class="padding">

    <div class="mt-3 mt-sm-4  ol-sm-12 col-md-9 mx-auto text-center justify-content-center align-items-center">

        <h1 class="gradient-text" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">About Me</h1>

        <p class="mb-5 col-sm-11 col-md-10 text-secondary mx-auto" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">Fun fact: even though all this website is about me and I'm still
            making an About Me page :), quite smart.</p>

        <p>Hello, My name is Amir, a passionate and dedicated web designer and developer. With a flair for creativity
            and a knack for innovation, I've embarked on a journey to craft compelling digital experiences that leave a
            lasting impact.</p>

        <p>My journey is fueled by a passion for crafting immersive digital experiences that empower businesses to scale
            effectively. With an artistic eye and a mastery of code, I forge websites that seamlessly merge aesthetics
            with functionality. From captivating user interfaces to flawless responsive design, my work is a testament
            to the art of user engagement.</p>

        <p>But I go beyond pixels and lines of code. I'm an advocate of strategic branding and Search Engine
            Optimization (SEO). My approach ensures that your digital presence not only stands out but also reaches its
            target audience with impact. The fusion of compelling content creation and astute social media management
            complements my strategy, catalyzing brand visibility and audience interaction.</p>

        <p>My journey isn't just about building websites; it's about architecting pathways to success. My portfolio
            showcases projects where businesses have scaled, leveraging my expertise to navigate the digital landscape.
            Through each partnership, I've nurtured growth by designing and developing platforms that engage, convert,
            and captivate.</p>

        <p>Join me in shaping your digital narrative. Let's work together to amplify your brand's reach, streamline your
            digital operations, and unlock the full potential of your business.</p>

        <button class="btn btn-bottom-line border-3 rounded-0 px-3 py-2 mx-2"
            [ngClass]="isDarkMode ? 'text-white' : 'text-black'"
            [ngStyle]="{'border-bottom': isDarkMode ? 'solid #fff 2px' : 'solid #000 2px'}"> DOWNLOAD CV </button>
        <button class="btn btn-blue-glow rounded-0 px-3 py-2 mx-2 text-white">BOOK A CALL</button>

    </div>


</section>