<section class="padding w-100 radical-background1">

    <div class="col-sm-12 col-lg-11 mx-auto d-flex flex-wrap py-3">

        <div class="col-sm-12 col-lg-6 align-self-center" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">
            <div class="info">
                <h1 class="title-gradient mt-lg-4 mt-2 pe-3 text-sm-center text-lg-start">
                    Showcasing Projects Redefining Design and Development Excellence.
                </h1>
                <p class="text-secondary project-info">Exploring the Fusion of Creativity and Technology</p>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
            <img src="../../assets/porojects-bg.png" class="w-100" alt="">
        </div>


    </div>
    <p class="text-secondary text-center">*These are just some of my websites I have created. <br>
        I can't show other ones because the clinets didn't want their websites to she shown to other websites.</p>
</section>



<section class="radical-background5">
    <h1 class="gradient-text text-center">Coding Dreams, Designing Success</h1>
    <p class="fs-6 text-center text-secondary col-sm-12 col-lg-7 mx-auto mb-4">Explore projects that breathe life into
        business growth. Seamlessly blending design, development, SEO, and branding, I've empowered clients to captivate
        audiences, drive engagement, and scale effectively</p>

    <div class="d-flex flex-wrap justify-content-center">

        <div class="col-sm-12 col-lg-5 text-center justify-content-center p-3 my-3">
            <img src="../../assets/project1.png" alt="A Sites Agecncy" class="w-100 shadow-lg my-2 img-hover">
            <h5 class="mt-3">A Sites Agecncy</h5>
            <p class="fs-6 fw-lighter text-secondary">ASites Agency is my own angecy. It a service-based agency where we
                help small and medimum businesses grow online through Websites, Social Media, Marketing, Content
                Creation etc.</p>
            <button class="btn btn-white text-uppercase rounded-0 btn-lg btn-projects">More Details </button>
        </div>

        <div class="col-sm-12 col-lg-5 text-center justify-content-center p-3 my-3">
            <img src="../../assets/project2.png" alt="A Sites Agecncy" class="w-100 shadow-lg my-2 img-hover">
            <h5 class="mt-3">Travelo</h5>
            <p class="fs-6 fw-lighter text-secondary">Travelo is a Travel Agnecy website I recently developed. It
                provides an amazing design and can 100% be used as a SaaS. It also provides everything a travel agnecy
                website needs, including booking systems.</p>
                <button class="btn btn-white text-uppercase rounded-0 btn-lg btn-projects">More Details </button>
        </div>

        <div class="col-sm-12 col-lg-5 text-center justify-content-center p-3 my-3">
            <img src="../../assets/project4.png" alt="A Sites Agecncy" class="w-100 shadow-lg my-2 img-hover">
            <h5 class="mt-3">AmiriSites</h5>
            <p class="fs-6 fw-lighter text-secondary">AmiriSites is a website that I created for free just to build my
                portfolio. It's an undone web app very similiar to ASites Agency. Provides themes, clean responsive
                design, authentication, etc.</p>
                <button class="btn btn-white text-uppercase rounded-0 btn-lg btn-projects">More Details </button>
        </div>

        <div class="col-sm-12 col-lg-5 text-center justify-content-center p-3 my-3">
            <img src="../../assets/project3.png" alt="A Sites Agecncy" class="w-100 shadow-lg my-2 img-hover">
            <h5 class="mt-3">The Tasty <Table></Table>
            </h5>
            <p class="fs-6 fw-lighter text-secondary ">The Tasty Table is a website I built only for design, it doesnt
                have any functinalities, or any backend, the client only wanted the desigm, so that's what I did. It
                also provides 2 themes and animations.</p>
                <button class="btn btn-white text-uppercase rounded-0 btn-lg btn-projects">More Details </button>
        </div>

        <div class="col-sm-12 col-lg-5 text-center justify-content-center p-3 my-3">
            <img src="../../assets/project5.png" alt="A Sites Agecncy" class="w-100 shadow-lg my-2 img-hover">
            <h5 class="mt-3">DreamDecor <Table></Table>
            </h5>
            <p class="fs-6 fw-lighter text-secondary "> I built DreamDecor 2 years ago. It has a really minimalistic design, not becase I wanted to, but I didn't really know how to make cool design back then, but it turned out to look pretty cool :) Maybe I should redesign it.</p>
                <button class="btn btn-white text-uppercase rounded-0 btn-lg btn-projects">More Details </button>
        </div>

        <div class="col-sm-12 col-lg-5 text-center justify-content-center p-3 my-3">
            <img src="../../assets/project6.png" alt="A Sites Agecncy" class="w-100 shadow-lg my-2 img-hover">
            <h5 class="mt-3">PhoneHIVE <Table></Table>
            </h5>
            <p class="fs-6 fw-lighter text-secondary "> PhoneHIVE is the biggest website I have every built. I built it using React.JS and ASP.NET. The backend is very professional. It's the best SaaS + website that I have ever created.</p>
                <button class="btn btn-white text-uppercase rounded-0 btn-lg btn-projects">More Details </button>
        </div>

        <div class="col-sm-12 col-lg-5 text-center justify-content-center p-3 my-3">
            <img src="../../assets/project7.png" alt="A Sites Agecncy" class="w-100 shadow-lg my-2 img-hover">
            <h5 class="mt-3">Starbucks Clone <Table></Table>
            </h5>
            <p class="fs-6 fw-lighter text-secondary "> I built that Starbucks Clone website couple of weeks after I started learning React.JS. Of course, I did it for free just to showcase my skills, even tho it's old it looks pretty nice.</p>
                <button class="btn btn-white text-uppercase rounded-0 btn-lg btn-projects">More Details </button>
        </div>

    </div>
   


</section>