<section class="padding radical-background4">

    <div class="col-md-11 mx-auto" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
        <h1 class="gradient-text2 text-center service-title mt-5 lh-base">Amplifying Business Growth with Expert Design,
            Development, and SEO Strategies.</h1>
        <p class="text-secondary text-center">Elevate Your Business Potential with a professional website, Enabling Your
            Journey to Scale New Heights.</p>
    </div>

</section>
<section class="p-2">
    <div class="d-flex flex-column gap-5 justify-content-center align-items-center col-sm-12 col-lg-10 mx-auto">

        <div class="d-flex gap-4 w-100 flex-wrap position-sticky p-3 single-service" [ngStyle]="{'background-color': isDarkMode ? '#020811bd' : '#ffffffb2'}">
            <div class="col-sm-12 col-lg-6">
                <img src="../../assets/service1.png" alt="service" class="w-100">
            </div>

            <div class="col-sm-12 col-lg-5">
                <h4 class="gradient-text2 h4 single-service-title">Web Design &amp; Development</h4>
                <p class="text-secondary service-description">Transforming visions into captivating digital realities, I
                    create websites that resonate with
                    your target audience. With seamless functionality and user-centric design, your online presence
                    becomes a dynamic tool for engaging potential clients and driving conversions.</p><span>
                    
                    <p><span class="gradient-text2 single-service-title h5"> Experience: </span>4+ Years</p>
                </span>
                <div class="btns d-flex">
                    <a href="/services/web-design">
                        <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button></a> &nbsp;
                    <a class="link-styles " href="/projects">
                        <button class="btn text-white btn-service rounded-0">SEE PROJECTS</button>
                    </a>
                </div>
                <div class="keywords mt-3">
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 badge-service fw-light m-1" 
                    [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#Modern</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#Professional</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1"
                    [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'"  >#Responsive</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#DynamicTool</span>
                   
                </div>

            </div>
        </div>

        <div class="d-flex gap-4 w-100 flex-wrap position-sticky p-3 single-service flex-row-reverse" [ngStyle]="{'background-color': isDarkMode ? '#020811bd' : '#ffffffb2'}">
            <div class="col-sm-12 col-lg-6">
                <img src="../../assets/service2.png" alt="service" class="w-100">
            </div>

            <div class="col-sm-12 col-lg-5">
                <h4 class="gradient-text2 h4 single-service-title">SEO (Search Engine Optimization)</h4>
                <p class="text-secondary service-description">Elevating your online visibility, I implement strategic SEO techniques that ensure your website ranks higher on search engines. By optimizing content and structure, your business gains exposure to a wider audience, resulting in increased organic traffic and valuable client leads.</p><span>
                    
                    <p><span class="gradient-text2 single-service-title h5"> Experience: </span>2+ Years</p>
                </span>
                <div class="btns">
                    <a href="/services/web-design">
                        <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button></a> &nbsp;
                   
                </div>
              
                <div class="keywords mt-3">
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#traffic</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#topResults</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#clients</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'"  >#localSEO</span>
                   
                </div>

            </div>
        </div>


        <div class="d-flex gap-4 w-100 flex-wrap position-sticky p-3 single-service" [ngStyle]="{'background-color': isDarkMode ? '#020811bd' : '#ffffffb2'}">
            <div class="col-sm-12 col-lg-6">
                <img src="../../assets/service3.png" alt="service" class="w-100">
            </div>

            <div class="col-sm-12 col-lg-5">
                <h4 class="gradient-text2 h4 single-service-title">Social Media Marketing</h4>
                <p class="text-secondary service-description">Leveraging the power of social platforms, I create targeted campaigns that resonate with your audience. Engaging content, coupled with precise audience targeting, enhances brand awareness, generates leads, and ultimately expands your clientele.</p><span>
                    
                    <p><span class="gradient-text2 single-service-title h5"> Experience: </span>4+ Years</p>
                </span>
                <div class="btns">
                    <a href="/services/web-design">
                        <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button>
                    </a>
                </div>
                <div class="keywords mt-3">
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#socialMedia</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#marketing</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#ads</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#socialMediaAds</span>
                   
                </div>

            </div>
        </div>


        <div class="d-flex gap-4 w-100 flex-wrap position-sticky p-3 single-service flex-row-reverse" [ngStyle]="{'background-color': isDarkMode ? '#020811bd' : '#ffffffb2'}">
            <div class="col-sm-12 col-lg-6">
                <img src="../../assets/service4.png" alt="service" class="w-100">
            </div>

            <div class="col-sm-12 col-lg-5">
                <h4 class="gradient-text2 h4 single-service-title">Content Creation & Copywriting</h4>
                <p class="text-secondary service-description">Crafting compelling content tailored to your niche, I establish your brand as an authoritative voice. Consistent and valuable content not only engages your audience but also builds trust and credibility, driving client acquisition and brand loyalty.</p><span>
                    
                    <p><span class="gradient-text2 single-service-title h5"> Experience: </span>2+ Years</p>
                </span>
                <div class="btns">
                    <a href="/services/web-design">
                        <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button></a> &nbsp;
                </div>
                <div class="keywords mt-3">
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#contentCreation</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#videoEditing</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'"  >#posts</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6  fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'"  >#contentCopywriting</span>
                   
                </div>

            </div>
        </div>


        <div class="d-flex gap-4 w-100 flex-wrap position-sticky p-3 single-service" 
        [ngStyle]="{'background-color': isDarkMode ? '#020811bd' : '#ffffffb2'}">
            <div class="col-sm-12 col-lg-6">
                <img src="../../assets/service5.png" alt="service" class="w-100">
            </div>

            <div class="col-sm-12 col-lg-5">
                <h4 class="gradient-text2 h4 single-service-title">Brand Identity Design</h4>
                <p class="text-secondary service-description">Creating a strong and consistent brand identity that resonates with your audience. A cohesive brand image fosters recognition, trust, and loyalty, ultimately attracting new clients who align with your brand values.</p><span>
                    
                    <p><span class="gradient-text2 single-service-title h5"> Experience: </span>2+ Years</p>
                </span>
                <div class="btns">
                    <a href="/services/web-design">
                        <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button></a> &nbsp;
                </div>
                <div class="keywords mt-3">
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#brand</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#brandDesign</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#brandIdenity</span>
                    <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" [ngClass]="isDarkMode ? 'badge-service-dark' : 'badge-service'" >#brandDevelpment</span>
                  
                </div>

            </div>
        </div>


    </div>
</section>
