<p>service2 works!</p>


<div class="d-flex flex-column my-5">
    <div class="d-flex posiition-sticky justify-content-center" style="height: 80vh;">
        <div class="col-sm-12 col-lg-6">
            <img src="../../assets/service1.png" alt="service" class="w-100">
        </div>

        <div class="col-sm-12 col-lg-5">
            <h4 class="gradient-text2 h4 single-service-title">Web Design &amp; Development</h4>
            <p class="text-secondary service-description">Transforming visions into captivating digital realities, I
                create websites that resonate with
                your target audience. With seamless functionality and user-centric design, your online presence
                becomes a dynamic tool for engaging potential clients and driving conversions.</p><span>
                
                <p><span class="gradient-text2 single-service-title h5"> Experience: </span>4+ Years</p>
            </span>
            <div class="btns">
                <a href="/services/web-design">
                    <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button></a> &nbsp;
                <a class="link-styles " href="/projects">
                    <button class="btn text-white btn-service rounded-0">SEE PROJECTS</button>
                </a>
            </div>
            <div class="keywords mt-3">
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 badge-service fw-light m-1" 
                >#Modern</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" >#Professional</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1"
                >#Responsive</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" >#DynamicTool</span>
               
            </div>

        </div>
    </div>

    <div class="d-flex flex-row-reverse posiition-sticky justify-content-center" style="height: 80vh;">
        <div class="col-sm-12 col-lg-6">
            <img src="../../assets/service2.png" alt="service" class="w-100">
        </div>

        <div class="col-sm-12 col-lg-5">
            <h4 class="gradient-text2 h4 single-service-title">Web Design &amp; Development</h4>
            <p class="text-secondary service-description">Transforming visions into captivating digital realities, I
                create websites that resonate with
                your target audience. With seamless functionality and user-centric design, your online presence
                becomes a dynamic tool for engaging potential clients and driving conversions.</p><span>
                
                <p><span class="gradient-text2 single-service-title h5"> Experience: </span>4+ Years</p>
            </span>
            <div class="btns">
                <a href="/services/web-design">
                    <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button></a> &nbsp;
                <a class="link-styles " href="/projects">
                    <button class="btn text-white btn-service rounded-0">SEE PROJECTS</button>
                </a>
            </div>
            <div class="keywords mt-3">
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 badge-service fw-light m-1" 
                >#Modern</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" >#Professional</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1"
                >#Responsive</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" >#DynamicTool</span>
               
            </div>

        </div>
    </div>

    <div class="d-flex posiition-sticky justify-content-center" style="height: 80vh;">
        <div class="col-sm-12 col-lg-6">
            <img src="../../assets/service3.png" alt="service" class="w-100">
        </div>

        <div class="col-sm-12 col-lg-5">
            <h4 class="gradient-text2 h4 single-service-title">Web Design &amp; Development</h4>
            <p class="text-secondary service-description">Transforming visions into captivating digital realities, I
                create websites that resonate with
                your target audience. With seamless functionality and user-centric design, your online presence
                becomes a dynamic tool for engaging potential clients and driving conversions.</p><span>
                
                <p><span class="gradient-text2 single-service-title h5"> Experience: </span>4+ Years</p>
            </span>
            <div class="btns">
                <a href="/services/web-design">
                    <button class="btn text-white btn-service rounded-0">DISCOVER MORE</button></a> &nbsp;
                <a class="link-styles " href="/projects">
                    <button class="btn text-white btn-service rounded-0">SEE PROJECTS</button>
                </a>
            </div>
            <div class="keywords mt-3">
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 badge-service fw-light m-1" 
                >#Modern</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" >#Professional</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1"
                >#Responsive</span>
                <span class="badge rounded-pill text-secondary px-3 py-2 fs-6 fw-light m-1" >#DynamicTool</span>
               
            </div>

        </div>
    </div>


</div>